<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Budget Tracker Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container home-container">
    <h1>👕 Clothing Shop Manager </h1>
    <p class="subtitle">Manage your shop & budget with ease!</p>

    <div class="button-group">
        <a href="/add_transaction" class="action-button">➕ Add Transaction</a>
        <a href="/add_expense" class="action-button">➕ Add Expense</a>
        <a href="/filter_expenses" class="action-button">🔍 Filter Expenses</a>
      </div>

    <div id="greeting-message" class="greeting-message"></div>
  </div>

  <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>
